.App {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  height: 100vh;
  background-color: white;
  opacity: 0.85;
}

.App-body {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  background-image: url("images/scenic-view.jpg");
  background-color: white;
  background-size: cover;
}
